body {
    background-color: black;
    line-height: 1;
}

.header {
    width: 100%;
    height: 100px;
}

.login {
    width: 100%;
}

.button-login {
    float: left;
}

.login-user, .register {
    color: white;
    padding: 10px 10px 10px;
    font-family: Courier New, Courier, Monaco;
}

.login-user:hover, .register:hover {
    color: red;
}

.logo {
    width: 100%;
    height: 80%;
}

.logo img {
    margin-top: 20px;
    width: 100px;
    background-color: black;
    height: 100px;
}

.logo p {
    color: white;
    font-family: Courier New, Courier, Monaco;
}

.logo p:hover {
    color: red;
}

#clock {
    color: white;
    font-family: Courier New, Courier, Monaco;
}

#clock:hover {
    color: red;
}
.body {
    width: 100%;
    height: 70%;
    margin-top: 100px;
}
.footer{
    width: 100%;
    height: 50px;
    margin-top: 100px;
    float: left;
}
.footer .col-3 div{
    display: flex;
    list-style: none;
    margin: 0 10px;
    color: white;
    font-family: Courier New, Courier, Monaco;
}
.footer .col-3 div a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}
.col-3 div a:hover{
    color: red;
}
.product-content-acd-title , .product-content-acd-title-en, .tab-list , .active{
    color: white;
    font-family: Courier New, Courier, Monaco;
}
img{
    width: 10%;
    height: auto;
}
table{
    width: 50%;
    height: 100%;
    border:1px solid white;
    box-sizing: border-box;
    padding: 15px;
}
table tr ,th ,td{
    border: 1px solid white;
    color: white;
    font-family: Courier New, Courier, Monaco;
}
.tab-list{
    margin-top: 20px;
}
.product-size-table p{
    color: white;
    font-family: Courier New, Courier, Monaco;
}
.font-courier{
    font-family: Courier New, Courier, Monaco;
}
product-size-table input{
    border-radius: 5px;
}